[submodule "docs-site"]
	path = docs-site
	url = https://github.com/love98ooo/Trellis-local-docs.git
[submodule "marketplace"]
	path = marketplace
	url = https://github.com/love98ooo/Trellis-local-marketplace.git
